.header {
    width: 100%;
    height: 100px;
    background: #fff;
}

.header img {
    margin: 0 auto auto 30px;
}

.main {
    align-self: center;
    background: #fff;
    width: 80%;
    height: calc(100vh - 200px);
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.userList {
    overflow: auto;
}

.userList table{
    width: 100%;
    display: table;
    table-layout: fixed;
    overflow: auto;
}

.userList tr:nth-child(2n + 1) {
    background-color: #eee;
}

.userList tr th {
    display: table-cell;
    text-align: center;
    color: white;
    background-color: #007bff;
    border: solid white;
    width: calc((100% - 100px) / 3);
}

.userList tr th:nth-child(4) {
    width: 50px;
}

.userList tr th:nth-child(5) {
    width: 50px;
}

.userList tr td {
    border: #ccc solid 1.5px;
    display: table-cell;
    text-align: right;
    padding: 10px;
}

.userList tr td:first-child {
    border: #ccc solid 1.5px;
    display: table-cell;
    text-align: left;
}

.userList tr td img{
    display: inline;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid #888;
    width: 100%;
    margin-bottom: 50px;
}

.form div {
    display: flex;
    width: ((100% - 250px) / 3);
    flex-direction: column;
}

.form div input {
    border: solid #888 2px;
    border-radius: 8px;
    height: 30px;
    width: 100%;
}

.form button {
    background-color: #007bff;
    color: white;
    width: 100px;
    height: 40px;
    align-self:last baseline;
    border-radius: 10px;
}