.userList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userList table{
    width: 50%;
    display: table;
    table-layout: fixed;
    overflow: auto;
}

.userList tr:nth-child(2n + 1) {
    background-color: #eee;
}

.userList tr th {
    display: table-cell;
    text-align: center;
    color: white;
    background-color: #007bff;
    border: solid white;
    width: calc((100% - 150px) / 1);
}

.userList tr th:first-child {
    width: 50px;
}

.userList tr th:nth-child(3) {
    width: 50px;
}

.userList tr th:nth-child(4) {
    width: 50px;
}

.userList tr td {
    border: #ccc solid 1.5px;
    display: table-cell;
    text-align: center;
    padding: 10px;
}

.userList tr td:first-child {
    border: #ccc solid 1.5px;
    display: table-cell;
    text-align: left;
}

.userList tr td img{
    display: inline;
    cursor: pointer;
}
